server:
  port: 8080
  servlet:
    context-path: /identity


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/identity-service
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerkey: 5517010be55559740935ff533f504ec82054e3b73df043a3a141578470ff13bc;
  valid-duration: 50000 # in seconds
  refreshable-duration: 100000 # in seconds

app:
  service:
    profile: http://localhost:8081/profile